:root{
    --typeletter: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.encabezado{
    position: relative;
    min-width: 320px;
    width: 100%;
    height: 295px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.encabezado-logo{
    margin-bottom: 36px;
}

.encabezado-titulo{
    width: 90%;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;  
    text-align: center;
    color: white;
    margin-bottom: 24px;
}

.encabezado-texto{
    width: 90%;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #FFE9D5;
}

.encabezado-button{
    position: absolute;
    bottom: -24px;
    padding: 15px 16px;

    width: 229px;
    height: 48px;

    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #201E1C;
    
    background-color: #FAF8F7;
    text-decoration: none;

    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}

.encabezado-button span{
    display: inline-block;
    background: url(../assets/icons/down-arrow.svg) center/cover no-repeat;
    width: 12px;
    height: 8px;
    margin-left: 14px;
}

.section-first{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:65px 0;
    background-color: #FAF8F7;
}

.section-first__bitcoin{
    width: 192px;
    height: 192px;
    margin-bottom: 44px;
}

.section-first__titulo{
    width: 90%;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: #201E1C;
    margin-bottom: 24px;
}

.section-first__texto{
    width: 90%;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #BABABA;
    margin-bottom: 28px;
}

.section-first-contenedorTabla{
    display: flex;
    width: 70%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 20px 0;
}

.section-first-contenedorTabla::-webkit-scrollbar-thumb{
    background-color:#f7931a ;
}

.section-first-contenedorTabla::-webkit-scrollbar{
    background-color: #e6bd8b;
    height: 4px;
    border-radius: 2px;
}

.tablaOne{
    padding: 0 20px;
    scroll-snap-align: center;
}

.tablaTwo{
    padding: 0 20px;
    scroll-snap-align: center;
}

.titulo-tabla{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #FF9536;
    margin-bottom: 12px;
    margin-left: 10px;
}

.titulo-tabla--blue{
    color: #1A9AF7;
}

.tabla tr{
    font-family: var(--typeletter);
    background-color:white;
}

.left{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #B5B0AC;
    min-width: 101px;
    padding: 10px 12px 10px 12px;
}

.right{
    min-width: 95px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #757575;
    padding: 11px 0px 11px 12px;    
}

.c11{
    border-top-left-radius: 8px;
}
.c12{
    border-top-right-radius: 8px;
}
.c41{
    border-bottom-left-radius: 8px;
}
.c42{
    border-bottom-right-radius: 8px;
}

.down{
    display: inline-block;
    background: url(../assets/icons/trending-down.svg) center/cover no-repeat;
    width: 11px;
    height: 6px;
    margin-left: 10.5px;
    margin-right: 12.5px;
}

.up{
    display: inline-block;
    background: url(../assets/icons/trending-up.svg) center/cover no-repeat;
    width: 11px;
    height: 6px;
    margin-left: 10.5px;
    margin-right: 12.5px;
}

.pie-tabla{
    display: flex;
    max-width: 120px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: #282623;
    padding: 8px;
    background: #FFE9D5;
    border-radius: 8px;
    margin-top: 16px;
}

.pie-tabla--blue{
    background:#E7F5FF;
    ;
}

.claro{
    font-weight: 400;  
}

.negrilla{
    padding-left: 8px;
    font-weight: 700;
}

.section-second{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 910px;
    background: #201E1C;
}

.section-second-titulo{
    width: 90%;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: white;
    margin-bottom: 24px;
}

.section-second-texto{
    width: 90%;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #808080;
    margin-bottom: 32px;
}

.section-second-cuadro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.cuadro{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    width: 90%;
    max-width: 345px;
    height: 152px;
    background: #282623;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 18px;
    margin-bottom: 16px;
}

.cuadro-img{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
}

.cuadro-img--clock{
    background: url(../assets/icons/clock.svg) center/cover no-repeat;
}

.cuadro-img--eye{
    background: url(../assets/icons/eye.svg) center/cover no-repeat;
}

.cuadro-img--dollar{
    background: url(../assets/icons/dollar-sign.svg) center/cover no-repeat;
}

.cuadro-img--check{
    background: url(../assets/icons/check-circle.svg) center/cover no-repeat;
}

.cuadro-titulo{
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: white;
    margin-bottom: 1rem;
}

.cuadro-parrafo{
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}

.section-three{
    display: flex;
    justify-content: center;
    position: relative;
}

.section-three-imag{
    width: 100%;
    min-width: 320px;
    height: 387px;
    background-position: 50% 50%;
}

.section-three-imag img{
    width: 100%;
    height: 387px;
    min-width: 320px;
}

.section-three-titulo{
    position: absolute;
    top:64px;   
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: white;
}

.section-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FAF8F7;
    padding-top: 82px;
}

.section-four-titulo{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: #201E1C;
    margin-bottom: 24px;
}

.section-four-texto{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #757575;
    width: 90%;
    padding-bottom: 30px;
}

.section-four-cuadros{
    width: 90%;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 20px 0;
}

.section-four-cuadros::-webkit-scrollbar-thumb{
    background-color: #F7931A;
}

.section-four-cuadros::-webkit-scrollbar{
    background-color: rgb(221, 217, 217);
    height: 4px;
    border-radius: 4px;
    opacity: 10%;
}

.cuadroSub{
    scroll-snap-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 190px;
    height: 247px;
    background: white;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.cuadroSub-nota{
    position: absolute;
    top:-15.5px;
    font-family: var(--typeletter);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: white;
    padding: 8px;
    background: #F7931A;
    border-radius: 8px;
}

.cuadroSub-titulo{
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #000000;
    margin-bottom: 8px;
}

.cuadroSub-texto{
    position: relative;
    font-family: var(--typeletter);
    font-style: normal;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.3rem;
    letter-spacing: -0.08em;
    color: #000000;
    margin-bottom: 9px; 
}

.cuadroSub-texto span{
    position: absolute;
    left: -10px;
    top:10px;
    font-family: var(--typeletter);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: #363636;
}

.cuadroSub-texto1{
    width: 90%;
    font-family: var(--typeletter);
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: #757575;
    margin-bottom:16px;
}

.cuadroSub-interno{ 
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-content: center; */
    width: 151px;
    height: 48px;
    background: #FAF8F7;
    border: 2px solid #F7931A;
    border-radius: 4px;
}

.cuadroSub-interno-texto{
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #201E1C;
    order: 0;
    padding: 15px 0px 15px 16px;   
}

.arrow-down{
    position:absolute;
    top: 17px;
    right: 21px;
    display: inline-block;
    background: url(../assets/icons/orange-right-arrow.svg) center/cover no-repeat;
    width: 14px;
    height: 14px;
}

.section-four-preguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 67px;
}

.menu-ask-titulo{
    width: 90%;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align:center;
    color: #201E1C;
    padding-bottom: 32px;
}

.menu-ask-menu{
    align-items: center;
    justify-content: center;
    width: 90%;
    border-collapse: collapse;
}

.menu-ask-menu td{
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
  }

.flecha-down{
    display: inline-block;
    background: url(../assets/icons/down-arrow.svg) center/cover no-repeat;
    width: 12px;
    height: 8px;
}

.pie-pagina{
    display: flex;
    align-items: center;
    justify-content:space-around;        
    width: 100%;
    height: 150px;
    background-color: #F7931A;
}

.list-pie-pagina a{
    list-style-type: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: white;
    padding-bottom: 8px;
}
